/* Code By Nour Mostafa */


/* Start Var */

:root {
    --main-color: #19c8fa;
    --transparent-color: rgba(15, 115, 143, 70%);
    --p-color: #777;
    --padding-main-heading: 70px;
}

/* End Var */

/* Global Rules Start */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}


*::selection{
    background-color: var(--main-color);
    color: black;
}

html {
    scroll-behavior: smooth;
}

body  {
    font-family: "Open Sans", sans-serif;
    background-image: url(imgs/landing.jpg);
    
}

ul {
    list-style: none;
}

.content1 {
    height: 100vh;
}

/* Global Rules End */


/* Header Start */

header {
    position: absolute;
    width: 100%;
}

.main-conainer {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 32px 15px;
    min-height: 104px;
    z-index: 2;
}


.main-conainer nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.main-conainer ul {
    display: flex;
    
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 35px 10px;
    font-size: 18px;
    position: relative;
    z-index: 2;
}

nav ul a:hover {
    color: var(--main-color);
    border-bottom: var(--main-color) 1px solid;
}




.main-conainer img {
    height: 40px;
}



.main-conainer::after {
    content: "";
    background-color: #a2a2a2;
    height: 1px;
    width: calc(100% - 30px);
    position: absolute;
    bottom: 2px;
    left: 15px;
}


nav .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: #a2a2a2 1px solid;
}

nav .form i {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 18px;
}


.toggle-menu {
    font-size: 23px;
    color: white;
}


/* Header End */


/* Landing Start */

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text {
    padding: 50px;
    width: 50%;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

@media (max-width:625px) {  
    /* Text Responsive */
    .text {
        width: 100%;
        display: flex;
        justify-content: center;
        }
}

.content-text {
    width: 90%;
}

.text h1 {
    margin-bottom: 20px;
    font-weight: normal;
    line-height: 1.4;
}
.text p {
    line-height: 1.5;
}

.change-background {
    position: absolute;
    color: white;
    font-size: 30px;
}

.fa-angle-left {
    left: 30px;
}

.fa-angle-right {
    right: 30px;
}


.bullets {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 30px;
    width: 120px;
    height: 30px;
    display: flex;
    justify-content: space-between;
}

.bullets li {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: #a2a2a2 solid 1px;
}


.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

@media (max-width:625px) {  
    .fa-angle-left {
        left: 20px;
    }
    
    .fa-angle-right {
        right: 20px;
    }
    }


/* Landing End */


/* Services Start */
.services {
    position: relative;
    background-color: white;
    padding: 70px;

}


.main-heading  {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.main-heading h1 {
    margin-bottom: 60px;
    font-size: 50px;
    font-weight: normal;
    position: relative;
}


.main-heading h1::after {
    content: "";
    background-color:white ;
    border: solid 2px black;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -27px;
}



.main-heading h1::before {
    content: "";
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 2px;
    bottom: -19px;
}

.main-heading p {
    color: var(--p-color);
    width: 70%;
    font-size: 18px;
    text-align: center;
    margin-bottom: 100px;
    line-height: 2;
}

@media (max-width:724px) {
    .main-heading p {
        width: 100%;
    }
    
}


.srv-box {
    margin-bottom: 30px;
    display: flex;

}


.serviecs-container i {
    font-size: 42px;
    margin-right: 30px;
}

.serviecs-container h2 {
    font-size: 28px;
    color: var(--main-color);
    margin-bottom: 20px;

}

.serviecs-container p {
    font-size: 20px;
    color: var(--p-color);

}

@media (max-width:509px) {
    .srv-box {
        flex-direction: column;

    }
    .serviecs-container i {
        font-size: 50px;
        margin-bottom: 30px;
        margin: 0 auto 30px;
    }
    
}


@media (min-width:768px) {
    .serviecs-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}

/* Services End */

/* Design Start */

.two {
    padding: var(--padding-main-heading);
}


.design{
    background-color: rgb(20, 20, 20);
    padding: 70px;
    height: 600px;
    display: flex;
    align-items: center;
    position: relative;
}

.design h2{
    color: #ffffff;
    font-size: 45px;
    margin-bottom: 20px;
    font-weight: normal;
}
.design-text{
    background-color: var(--transparent-color);
    position: absolute;
    right: 0;
    padding: 50px;
}

.design ul li{
    color: white;
    font-size: 32px;
}

.design ul li::before{
    font-family: 'font Awesome 5 free';
    content:"\f061";
    font-weight: 900;
    margin-right: 15px;
}



@media (min-width:476px) and (max-width:673px) {
    .design h2{
        font-size: 35px;
    }
    .design-text{
        padding: 40px;
    }
    
    .design ul li{
        color: white;
        font-size: 28px;
    }
    
    .design img {
        width: 270px;
    }
}


@media (max-width:475px) {
    .design h2{
        font-size: 30px;
    }
    .design-text{
        padding: 30px;
    }
    
    .design ul li{
        color: white;
        font-size: 22px;
        margin-bottom: 7px;
    }
    
    .design img {
        width: 230px;
    }
}
/* Design End */


/* Portfoilo Start */

.portfoilo {
    background-color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}


.shuffle {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    margin-bottom: 70px;
}

.shuffle li {
    padding: 15px;
}


@media (max-width:448px) {
    .shuffle {
        column-gap: 20px;
    }
    
    .shuffle li {
        padding: 5px;
    }
    
}

.shuffle li.active {
    color: white;
}

.portfoilo-imgs {
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    row-gap: 10px;
}

.img-box {
    position: relative;
    display: flex;
    flex-basis: 25%;
    flex-wrap: wrap;
    overflow: hidden;
}




.caption {
    position: absolute;
    background-color: #eee;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    transition: 0.2s;
    bottom: -100%;
}

.img-box img {
    max-width: 100%;
    transition: 0.2s;
}

.img-box:hover .caption {
    bottom: 0;
}

.img-box:hover img {
    transform: rotate(3deg) scale(1.1);
}

.img-box h3 {
    margin-bottom: 10px;
    font-weight: normal;
}

.img-box p {
    color: var(--main-color);
}

@media (max-width:1200px) {
    .img-box {
        flex-basis: 50%;
    }
    
}

@media (max-width:768px) {
    .img-box {
        flex-basis: 100%;
    }
    
}


.more {
    display: block;
    width: fit-content;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background-color: var(--main-color);
    padding: 15px 30px;
    margin: 55px auto 0;
    transition: 0.3s;
}

.more:hover {
    transform: scale(1.1);
}


/* Portfoilo End */


/* Video Start */

.video {
    position: relative;
    background-color: white;
}

.video::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 99.3%;
}


video {
    width: 100%;
}

.video-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    max-height: 100%;
    background-color: var(--transparent-color);
    color: white;
    padding: 50px;
    text-align: center;
}

.video-text h2 {
    font-weight: normal;
    margin-bottom: 30px;
    text-transform: uppercase;
}


.video-text p {
    margin-bottom: 30px;
}

.video-text button {
    background-color: black;
    color: white;
    padding: 15px 20px;
    border: none;
    text-transform: uppercase;
}

@media (max-width:460px) {
    .video-text h2 {
        margin-bottom: 20px;
    }
    
    
    .video-text p {
        margin-bottom: 20px;
    }
    
    .video-text button {
        padding: 10px 15px;
    }
    .video-text {
        padding: 20px;

    }
    
}

/* Video End */

/* About Start */
.about {
    background-color: white;
    text-align: center;
    overflow: hidden;
}

.about img {
    position: relative;
    bottom: -92px;
    margin-top: -92px;
}

@media (min-width:0px) and (max-width:790px) {  
    .about img {
        width: 390px
    }
}
@media (min-width:791px) and (max-width:1000px) {
    .about img {
        width: 600px
    }
}


.three {
    padding: var(--padding-main-heading);
}
/* About End */


/* Stats Start */
.stats {
    background-color: black;
    padding-top: 70px;
    padding-bottom: 70px;
}

.boxes-container {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 11px;
}

.box {
    color: white;
    background-color: var(--transparent-color);
    padding: 50px;
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

.box h1 {
    font-size: 50px;
    font-weight: bold;
}
.box p {
    font-size: 20px;
}

@media (min-width:992px) and (max-width:1178px) {
    .box {
        padding: 35px;
    }
    
    .box p {
        font-size: 18px;
    }
    
}


.box i {
    font-size: 40px;
}


@media (min-width:768px) and (max-width:991px) {
    
    .boxes-container {
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(40vw, 1fr));
        row-gap: 10px;

    }
    
        
}

@media (max-width:767px) {    
    .boxes-container {
        padding: 0 20px;
        flex-direction: column;
        row-gap: 15px;
    }
}


/* Stats End */


/* Skills Start */

.skills {
    background-color: white;
    padding: 70px 30px 70px 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.skills > div > h3 {
    margin-bottom: 30px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
}

.skills > div > p {
    color: var(--p-color);
    line-height: 2;
    text-align: center;
    margin-bottom: 45px;
    font-size: 17px;
}


@media (min-width:992px) {
    .skills > div {
        flex-basis: 45%;
    }
    
}

.testi-imgs {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: end;
    flex-direction: column;
}


.testi-imgs img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 30px;

}

@media (max-width: 991px) {
    .testi-imgs {
        flex-direction: column;
    }
    
    .testi-imgs img {
        margin: 0 auto 30px;
    }
    .skills {
        justify-content: center;
    }
    
    .testi-p2 {
        margin-bottom: 30px;
    }
}



.testi-p2 {
    color: var(--p-color);
    font-size: 14px;
    margin-top: 5px;
}

.testi-img-2 {
    margin-top: 20px;
}

.prog-holder {
    margin-bottom: 40px;
}

.prog-holder h3 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.prog-holder .prog {
    background-color: #dedadc;
    height: 35px;
}

.prog-holder .prog span {
    height: 100%;
    background-color: var(--main-color);
    display: block;
    position: relative;
}

.prog-holder .prog span::before {
    content: attr(data-progress);
    background-color: black;
    color: white;
    position: absolute;
    top: -41px;
    right: -19px;
    padding: 2px 0;
    width: 40px;
    text-align: center;

}

    .prog-holder .prog span::after {
        content: "";
        border-style: solid;
        border-width: 8px;
        border-color: black transparent transparent transparent;
        position: absolute;
        top: -16px;
        right: -7.5px;
    }

/* Skills End */

/* Pricing Start */

.three {
    padding: 30px;
}

.pricing {
    background-color: white;
}


.plans {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 50px;
    padding: 0 30px;
}

.plan {
    text-align: center;
    background-color: #fcfcfc;
}

.plan .plan-header {
    border-top: var(--main-color) 1px solid;
    border-bottom: var(--main-color) 1px solid;
    padding: 40px 0;
}



.plan-header h3 {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 20px;

}

.plan span {
    font-size: 60px;
    font-weight: 500;
    position: relative;
}

.plan span::after {
    content: "/MO";
    position: relative;
    font-size: 20px;
    right: -5px;
}

.plan span::before {
    content: "$";
    font-size: 22px;
    position: relative;
    top: -40px;
    margin-right: 10px;
}

.plan ul {
    border-bottom: 1px solid var(--main-color);
}

@media (max-width: 350px) {
    .plan {
        width: 100px;
    }

    .plans {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.plan li {
    padding: 15px 0;
    position: relative;
}

.plan li:not(:last-child)::after {
    content: "";
    position: absolute;
    width: 140px;
    height: 1px;
    background-color: var(--main-color);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.plan-footer a {
    color: black;
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    border: 1px solid var(--main-color);
    width: fit-content;
    margin: 15px auto
}

.plan-footer a:hover {
    background-color: var(--main-color);
    color: white;
}


.contact-text {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    align-items: center;
}

.contact-text p {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 23px;
}

.contact-text a {
    background-color: var(--main-color);
    width: fit-content;
    padding: 15px 20px;
    text-decoration: none;
    color: white;
    margin-bottom: 30px ;
    transition: 0.3s;
}

.contact-text a:hover {
    transform: scale(1.1);
}

/* Pricing End */

/* Subscribe Start */

.subscribe {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding: 70px 0;
}

.subscribe form {
    position: relative;
}

.subscribe input[type=email] {
    background-color: transparent;
    color: white;
    padding: 20px 37px;
    width: 300px;
    border: solid white 1px;
    outline: none;
}

.subscribe input[type=submit] {
    background-color: var(--main-color);
    color: white;
    padding: 20px;
    border: solid white 1px;
    cursor: pointer;

}

.subscribe i {
    position: absolute;
    top: 50%;
    left: 10px;
    animation: submit infinite linear 2s;
}

@keyframes submit {
    0% {
        transform: scale(1);

    }

    25% {
        transform: scale(1.1);

    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);

    }

    100% {
        transform: scale(1);

    }
}




@media (min-width: 1040px) and (max-width: 1400px) {
    .subscribe p {
        width: 600px;
        justify-content: center;
    }
}

@media (min-width:444px) and (max-width: 1039px) {
    .subscribe {
        flex-direction: column;
        row-gap: 30px;
        padding: 70px 30px;
    }

    .subscribe input[type=email] {
        width: 250px;
    }
    

    .subscribe p {
        font-size: 15px;
        justify-content: center;
        width: 400px;
    }

}

@media (max-width:443px) {

    .subscribe form {
        display: flex;
        flex-direction: column;
    }
    .subscribe {
        flex-direction: column;
        row-gap: 30px;
        padding: 70px 30px;
    }

    .subscribe input[type=email] {
        width: 200px;
    }

    .subscribe p {
        font-size: 14px;
        justify-content: center;
        width: 250px;
    }

    .subscribe i {
        position: absolute;
        top: 24%;
        left: 10px;
    }
    
    
}

/* Subscribe End */

/* Contact Us Start */

    .contact {
        background-color: white
    }

.content {
    display: flex;
    justify-content: space-between;
    padding: 20px 55px;
}

@media (max-width: 849px) {
    .content {
        flex-direction: column;

    }
    .main-input {
        width: 100% !important; 
    }
    
    .content input[type=submit] {
        margin-bottom: 50px;
        margin-right: auto;
    }
}


.main-input {
    padding: 20px;
    display: block;
    margin-bottom: 30px;
    outline-color: var(--main-color);
    width: 500px;
}

textarea.main-input {
    height: 200px;
}

.content input[type=submit] {
    padding: 20px;
    color: white;
    background-color: var(--main-color);
    border: none;
    display: flex;
    margin-left: auto;
    cursor: pointer;
}

.info {
    display: flex;
    flex-direction: column;
}

.info h4 {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 30px;
}

.info h4:nth-of-type(2) {
    margin-top: 40px;
}

.info .phone {
    color: #777;
    margin-bottom: 10px;
}

Address {
    line-height: 2;
    color: #777;
}


/* Contact Us End */

/* Header Responsive */

@media (min-width: 800px) {
    .toggle-menu {
        display: none;
    }

}

@media (max-width: 799px) {
    nav ul {
        display: none !important;
    }
    .toggle-menu:hover + ul {
        display: flex !important;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.722);
        
    }



    nav ul a:hover {
        border-bottom: transparent 1px solid;
    }
    
        nav li {
            margin-bottom: 50px;
        }

        nav li:last-child {
            margin-bottom: 30px;
        }



    nav li:nth-of-type(1){
        margin-top: 30px;
    }
nav ul li a {
    left: 42%;
    padding: 15px 10px !important;
}

}


/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) { 
    .main-conainer {
        width: 100%;
    }
}

/* Medium devices (tablets, 768px and up) */
/* @media (min-width: 768px) {

} */

/* // Large devices (desktops, 992px and up) */
/* @media (min-width: 992px) { 

} */

/* // X-Large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {

} */

/* // XX-Large devices (larger desktops, 1400px and up) */
/* @media (min-width: 1400px) {

} */
